*.idea/
/assets
/autosave
/cache
/clips
/particles
/renderData
/scenes/00_Tests
/scripts
/sound
/scenes/**/[Archive]
*.mel
/notes
*.jpg
*.avi
*.mov
/scenes/*
!/scenes/06_Cache
/images

# Tracking:
# /custom
# /data
# /images
# /movies
# /published
# /scenes except 00_Tests
# /sourceimages

# specific to this project
